.navbar-light .navbar-brand {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

#navcol-1 {
  font-size: 13px;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: #222;
}

#head {
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  margin-top: 25px;
}

#subHead {
  font-size: 38px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

